<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TelecomBenchmark</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="css/mdb.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/ui-lightness/jquery-ui.css"/> 
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="js/awesomplete.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script type="text/javascript" src="js/d3.layout.cloud.js"></script>
	<script src="js/account.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
	<link href="css/awesomplete.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<body>
<!-----------get data kmean---->
<!-------------------NOUBLIE PAS D AVJOUTER DATAAAA-------------->
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
<div class="container-fluid">
	<a class="navbar-brand" href="#"><img src="#">
	</a>
	<button class="navbar-toggler" type="button" data_toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="#">About</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="#">Services</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="#">Team</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="#">Connect</a>
			</li>	
			<li class="nav-item ">
				<a class="nav-link" href="#">News</a>
			</li>					

		</ul>

	</div>
</div>	
</nav>


<div class="container-fluid padding">
	<div class="row welcome text-center">
	<div class="col-12">
		<h5 class="display-4">My account</h5>
		<hr>
	</div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<table class="table table-sm">
				<tr><td style="width:30px;"><i class="fas fa-id-card"></i></td><td id="name" style="text-align: left;"><span style="font-weight: bold;"></span></td></tr>
				<tr><td style="width:20px;"><i class="fas fa-info"></i></i></td><td id="website" style="text-align: left;"><a href="#" style="color:blue;text-decoration: underline; "></a></td></tr>
				<tr><td style="width:20px;"><i class="fas fa-info"></i></td><td id="yh__index" style="text-align: left;"><span style="font-weight: bold;"> Yahoo finance index : </span></td></tr>
				<tr><td style="width:20px;"><i class="fas fa-users"></i></td><td id="nb_employee" style="text-align: left;"><span style="font-weight: bold;">Number of employee : </span></strong></td></tr>
				<tr><td style="width:20px;"><i class="fas fa-phone-square"></i></td><td id="phone" style="text-align: left;"><span style="font-weight: bold;"></span></td></tr>
				<tr><td style="width:20px;"><i class="fas fa-fax"></i></td><td id="fax" style="text-align: left;"><span style="font-weight: bold;"></span></td></tr>
				<tr><td ><i class="fas fa-map-marker-alt"></i></td><td id="address" style="text-align: left;"><span style="font-weight: bold;"></span></td></tr>
		    </table>
		    <hr>
	    </div>
	    <div class="col-8 ">
	            <div class="card">
	                <div class="card-body">
	                	<h5 class="card-title" ><font color="#482ece" bold> Overall growth (2018)</font></h5>
	                	<hr>
	                	<p class="text-muted" style="margin-bottom: 0px;">Growth information of your company in 2018 compared to last year.</p>
	                	<div class="row ">
		                	<div class="col-12" style="padding-top: 0px;padding-bottom: 0px;">
		                		<div class="row">
			                		<div class="col-2"></div>	
			                		<div class="col-10">	
				                		<div class="row"><h4 id="name_user" style="font-weight: bold;"></h4></div>
				                		<div class="row"> 	
				                			<div class=" mr-4" id="rev_user"><h5></h5>Revenue</div>
				                			<div class="mr-4"  id="capex_user"><h5></h5>CAPEX</div>
				                			<div class=" mr-4" id="subs_user"><h5></h5>Subscribers</div>
				                		</div>
				                	</div>
			                	</div>	
		                	</div>
		                		
	                	</div>
	           		 </div>
       			</div>	

			</div>	
        
    </div>

	
		<div class="row jumbotron" style="padding-bottom: 0px;">
			<div class="col-xs-12 col-sm-12 col-md-p col-lg-9 col-xl-10">
				<p class="lead">
					Try Benchmarking and imporove performance of your company
				</p>
				<p class="blue-text my-4 ">Benchmarkig is a great way to find the right competitors all around the wolrd </p>

			</div>	
			<div class="col-xs-12 col-sm-12 col-lg-3 col-xl-2">
				<a href="http://telecoms.com/news/"><button type="button" class="btn btn-outline-secondary btn-lg"> Ty it now!</button></a>
			</div>	
			
		</div>	
	

	<div class="row">
		<div class="col-7">			
            <div class="card"  >
                <div class="card-body">
                	<h6 class="card-title">Comparison of revenue ($/year)</h6>
                	<hr>
                    <canvas id="chBarRevenue"></canvas>
                </div>
            </div>           		
		</div> 
		<div class="col-5">			
            <div class="card"  >
                <div class="card-body">
                	<h6 class="card-title">Comparison of revenue ($/year)</h6>
                	<hr>
                </div>
            </div>           		
		</div> 

    </div>

   
    	<!--------------tabel abonné par trismestre------>
    	<hr>
    	<div class="row"><div class="col-12" style="padding-bottom: 0px;"><h5 style="margin-bottom: 0px;">Number of subscribers per quarter for last 4 years :</h5></div></div>
    	<div class="row text-center" >
	    	<table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col" >Quarter</th>	
			      <th scope="col" >2015</th>
			      <th scope="col">2016</th>
			      <th scope="col">2017</th>
			      <th scope="col">2018</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">Q1 :</th>
			      <td>25555</td>
			      <td>44444</td>
			      <td>8888888</td>
			      <td>8888888</td>
			    </tr>
			    <tr>
			      <th scope="row">Q2 :</th>
			      <td>Jacob</td>
			      <td>Thornton</td>
			      <td>@fat</td>
			      <td>8888888</td>
			    </tr>
			    <tr>
			      <th scope="row">Q3 :</th>
			      <td>Larry</td>
			      <td>the Bird</td>
			      <td>@twitter</td>
			      <td>8888888</td>
			    </tr>

			    <tr>
			      <th scope="row">Q4 :</th>
			      <td>Larry</td>
			      <td>the Bird</td>
			      <td>@twitter</td>
			      <td>8888888</td>
			    </tr>
			  </tbody>
			</table>
    	</div>
  
   <hr>
    <div class="row">
    	<div class="col-5">			
            <div class="card"  >
                <div class="card-body">
                	<h6 class="card-title">Comparison of revenue ($/year)</h6>
                	<hr>
                </div>
            </div>           		
		</div> 
		<div class="col-7">			
            <div class="card"  >
                <div class="card-body">
                	<h6 class="card-title">Number of subscribers per year</h6>
                	<hr>
                    <canvas id="bar-chart-horizontal"></canvas>
                </div>
            </div>           		
		</div> 
    	
    </div>

    <div class="row">
    	<div class="col-8">			
            <div class="card"  >
                <div class="card-body">
                	<h6 class="card-title">Comparison of revenue ($/year)</h6>
                	<hr>
                    <canvas id="chLineQon"></canvas>
                </div>
            </div>           		
		</div> 
		<div class="col-4">			
            <div class="card"  >
                <div class="card-body">
                	<h6 class="card-title">Comparison of revenue ($/year)</h6>
                	<hr>
                </div>
            </div>           		
		</div> 

    </div>

    <hr>
    <div class="row"><div class="col-12" style="padding-bottom: 0px;"><h5 style="margin-bottom: 0px;">Number of subscribers of all operators of the country</h5></div></div>
    <div class="row justify-content-md-center">   	
    	<div class="col-9" style="padding-top: 0px;" >
    		<table class="table table-striped tableHeight" >
    			<thead>
				    <tr>
				      <th scope="col" >Operator</th>	
				      <th scope="col" >2015</th>
				      <th scope="col">2016</th>
				      <th scope="col">2017</th>
				      <th scope="col">2018</th>
				    </tr>
			  </thead>
			  <tbody id="table_ratio" >
			  	<!------insertion----->
			  </tbody>
    			
    		</table>
    	</div>
       	
    </div>
    <hr>

</div>
























<!--- Footer -->
<footer>
<div class="container-fluid padding">
<div class="row text-center">
	<div class="col-md-4">
		<img src="">
		<hr class="light">
		<p>556-318-233</p>
		<p>email@outlook.com</p>
		<p>Algiers, Algeria, 16000</p>
	</div>
	
	<div class="col-md-4">
		<img src="">
		<hr class="light">
		<h5>Our hours</h5>
		<hr class="light">
		<p>Monday: 9am - 5pm</p>
		<p>Saturday: 10am - 6pm</p>
		<p>Sunday: closed</p>
	</div>

	<div class="col-md-4">
		<img src="">
		<hr class="light">
		<h5>Service Area</h5>
		<hr class="light">
		<p>We work only online currently </p>
	</div>
	<div class="col-12">
		<hr class="light-100">
		<h6>&copy: telecomBenchmarking.com</h6>
	</div>
	
</div>		
</div>	
</footer>
</body>
</html>		