<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TelecomBenchmark</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="css/mdb.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/ui-lightness/jquery-ui.css"/> 
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="js/awesomplete.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script type="text/javascript" src="js/d3.layout.cloud.js"></script>
	<script src="js/account.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
	<link href="css/awesomplete.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	
	<script type="text/javascript" src="lib/lodash/lodash.js"></script> 
	<script type="text/javascript" src="js/js-summarize.js"></script>
	<script type="text/javascript" src="lib/tokenizer/tokenizer.js"></script>

	
	
	
</head>

<body>
<!-----------get data kmean---->
<!-------------------NOUBLIE PAS D AVJOUTER DATAAAA-------------->
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"><img src="image/logoo.png">
		</a>
		<button class="navbar-toggler" type="button" data_toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="http://127.0.0.1:3000">Home</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="http://127.0.0.1:3000/register">Register</a>
				</li>		
				<li class="nav-item ">
					<a class="nav-link" href="#articles">News</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="#footer">Contact</a>
				</li>	
				<li class="nav-item "><%=data.name%><br><%=data.lastname%>
			    </li>					
				<li class="nav-item">
					<i class="fas fa-circle" style="color: #3bc63b"></i><br>
					<div class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"> </a>
						<div class="dropdown-menu  dropdown-menu-right " style="min-width:8rem; text-align: left;padding-left: 3px;">
							<a   href="http://127.0.0.1:3000/account">My account</a>
							<hr style="margin-bottom: 5px;padding-top: 0px;margin-top: 5px;">
				            <a  id="logout" data-toggle="modal" data-target="#LogOutModal" href="#"> Log Out</a>
				        <div>
			        </div>
				</li>				

			</ul>

		</div>
	</div>
		
</nav>

<!----------secret data----->
<script >	
	var index_user='<%= data.index%>';

</script>
<!-----------model logout---------->
<div class="modal fade" id="LogOutModal">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Log out</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to log out?
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="btn_logout" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>





<div class="container-fluid padding">
	<div class="row welcome text-center">
	<div class="col-12">
		
		<hr>
	</div>
	</div>
    <!---------------articles------>
    <p style="padding-left: 25px;color: #6a93ad;font-weight: bold;">News about your company</p>
	<div class="row" id="articles">
		<!--- Image Slider -->
		<div id="slides" class="carousel slide " data-ride="carousel" >
			<ul class="carousel-indicators">
				<li data-target="#slides" data-slide-to="0" class="active"></li>
			</ul>
			<div class="carousel-inner" id="carouarticle"> 
				<div class="carousel-item active" >
					<div class="row justify-content-md-center" id="test" style="background-image: url('image/mobile-telecom.png');"></div>
				</div>
				<div class="carousel-item" >
					<div class="row justify-content-md-center" id="test2" style="background-image: url('image/mobile-telecom.png');"></div>
				</div>	
				<div class="carousel-item" >
					<div class="row justify-content-md-center" id="test3" style="background-image: url('image/mobile-telecom.png');"></div>
				</div>		
			  
			  <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#slides" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
		</div>


		<!-- Modal -->
		<div class="modal fade" id="popupSummary" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		  aria-hidden="true">

		  <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
		  <div class="modal-dialog modal-dialog-centered" role="document">


		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        text
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>


	</div>

	<div class="row">
		<div class="col-sm-3">
			<table class="table table-sm">
				<tr><td style="width:30px;"><i class="fas fa-id-card"></i></td><td id="name" style="text-align: left;"><span style="font-weight: bold;"></span></td></tr>
				<tr><td style="width:20px;"><i class="fas fa-info"></i></i></td><td id="website" style="text-align: left;"><a href="#" style="color:blue;text-decoration: underline; "></a></td></tr>
				<tr><td style="width:20px;"><i class="fas fa-info"></i></td><td id="yh__index" style="text-align: left;"><span style="font-weight: bold;"> Yahoo finance index : </span></td></tr>
				<tr><td style="width:20px;"><i class="fas fa-users"></i></td><td id="nb_employee" style="text-align: left;"><span style="font-weight: bold;">Number of employee : </span></strong></td></tr>
				<tr><td style="width:20px;"><i class="fas fa-phone-square"></i></td><td id="phone" style="text-align: left;"><span style="font-weight: bold;"></span></td></tr>
				<tr><td style="width:20px;"><i class="fas fa-fax"></i></td><td id="fax" style="text-align: left;"><span style="font-weight: bold;"></span></td></tr>
				<tr><td ><i class="fas fa-map-marker-alt"></i></td><td id="address" style="text-align: left;"><span style="font-weight: bold;"></span></td></tr>
		    </table>
		    <hr>
	    </div>
	    <div class="col-9 ">
	            <div class="card">
	                <div class="card-body">
	                	<h5 class="card-title" ><font color="#482ece" bold> Overall growth (2018)</font></h5>
	                	<hr>
	                	<p class="text-muted" style="margin-bottom: 0px;">Growth information of your company in 2018 compared to last year.</p>
	                	<div class="row ">
		                	<div class="col-12" style="padding-top: 0px;padding-bottom: 0px;">
		                		<div class="row ">
			                	
			                		<div class="col-12">	
				                		<div class="row"><h4 id="name_user" style="font-weight: bold;"></h4></div>
				                		
				                		<div class="row justify-content-md-center"> 	
				                			<div class=" mr-5" id="rev_user" style="margin-left: 10px;"><p style="margin-bottom: 12px;font-weight:bold">Revenue</p><h5 class="text-muted">$ </h5><h6></h6></div>
				                			<div class="mr-5"  id="capex_user"><p style="margin-bottom: 12px;font-weight:bold">CAPEX</p><h5 class="text-muted">$ </h5><h6></h6></div>
				                			<div class=" mr-5" id="gdp_user"><p style="margin-bottom: 12px;font-weight:bold">GDP</p><h5 class="text-muted"></h5><h6></h6></div>
				                			<div class=" mr-5" id="popu_user"><p style="margin-bottom: 12px;font-weight:bold">Population</p><h5 class="text-muted"></h5><h6></h6></div>
				                			<div class=" mr-5" id="qos_user"><p style="margin-bottom: 12px;font-weight:bold">QOS</p><h5 class="text-muted"></h5><h6></h6></div>
				                			<div class=" mr-5" id="qon_user"><p style="margin-bottom: 12px;font-weight:bold">QON</p><h5 class="text-muted"></h5><h6></h6></div>
				                			<div class=" mr-5" id="subs_user"><p style="margin-bottom: 12px;font-weight:bold">Subscribers</p><h5 class="text-muted"></h5><h6></h6></div>
				                		</div>

				                	</div>
			                	</div>	
		                	</div>
		                		
	                	</div>
	           		 </div>
       			</div>	

			</div>	
        
    </div>

	
		<div class="row jumbotron" style="padding-bottom: 0px;">
			<div class="col-xs-12 col-sm-12 col-md-p col-lg-9 col-xl-10">
				<p class="lead">
					Try Benchmarking and imporove performance of your company
				</p>
				<p class="blue-text my-4 ">Benchmarkig is a great way to find the right competitors all around the wolrd </p>

			</div>	
			<div class="col-xs-12 col-sm-12 col-lg-3 col-xl-2">
				<button type="button" id="btn_benchmark"  class="btn btn-outline-secondary btn-lg">Try it now!</button>
			</div>	
			
		</div>	
	

	<div class="row">
		<div class="col-7">			
            <div class="card"  >
                <div class="card-body">
                	<h6 class="card-title" style="font-weight: bold">Revenuea & capital expenditurefont-weight:bold for the last 4 years ($/year)</h6>
                	<hr>
                    <canvas id="chBarRevenue"></canvas>
                </div>
            </div>           		
		</div> 
		<div class="col-5 align-self-center">			
            <div class="card "  >
                <div class="card-body">
                	<h6 class="card-title"></h6>
                	<hr>
                	<p class="text-muted">Revenue and capital expenditure are extracted from existing data on Yahoo Fianace platform which is the most reliable platform of our day, to ensure the veracity of information provided.</p>
                	<hr>
                </div>
            </div>           		
		</div> 

    </div>

   
    	<!--------------tabel abonné par trismestre------>
    	<hr>
    	<div class="row"><div class="col-12" style="padding-bottom: 0px;"><h5 style="margin-bottom: 0px;font-weight: bold">Number of subscribers per quarter for last 4 years :</h5></div></div>
    	<div class="row text-center" >
	    	<table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col" >Year/Quarter</th>	
			      <th scope="col" >Q1</th>
			      <th scope="col" >Q2</th>
			      <th scope="col">Q3</th>
			      <th scope="col">Q4</th>
			    </tr>
			  </thead>
			  <tbody id="table_quarter">

			  </tbody>
			</table>
    	</div>
  
   <hr>
    <div class="row">
    	<div class="col-5 align-self-center">			
            <div class="card"  >
                <div class="card-body">
                	<h6 class="card-title"></h6>
                	<hr>
                	<p class="text-muted">Tracking change in number of subscribers is an efficient way to know what the custumers are actually searching for.</p>
                	<hr>
                </div>
            </div>           		
		</div> 
		<div class="col-7">			
            <div class="card"  >
                <div class="card-body">
                	<h6 class="card-title" style="font-weight: bold">Number of subscribers per year</h6>
                	<hr>
                    <canvas id="bar-chart-horizontal"></canvas>
                </div>
            </div>           		
		</div> 
    	
    </div>

    <div class="row">
    	<div class="col-8">			
            <div class="card"  >
                <div class="card-body">
                	<h6 class="card-title" style="font-weight: bold">Changes in QOS & QON per year (%)</h6>
                	<hr>
                    <canvas id="chLineQon"></canvas>
                </div>
            </div>           		
		</div> 
		<div class="col-4">			
            <div class="card"  >
                <div class="card-body">
                	<h6 class="card-title"></h6>
                	<hr>
                	<p class="text-muted">Quality of Service (QOS) is satisfaction rate of subscribers mesured from the processing of a large amount of comments left on different platform (social networks, website).</p>
                	<p class="text-muted">Quality of Network (QON) is measured from online newspaper article processing specilized in mobile communication.</p>
                	<hr>
                </div>
            </div>           		
		</div> 

    </div>

    <hr>
    <div class="row"><div class="col-12" style="padding-bottom: 8px;"><h5 style="margin-bottom: 0px;font-weight:bold">Number of subscribers of all operators of the country and ratio compared to your company</h5></div></div>
    <div class="row ">   	
    	<div class="col-10" style="padding-top: 0px;" >
    		<table class="table table-striped tableHeight" >
    			<thead>
				    <tr>
				      <th scope="col" >Operator</th>	
				      <th scope="col cent" align="center">2015</th>
				      <th scope="col cent" align="center">2016</th>
				      <th scope="col cent" align="center">2017</th>
				      <th scope="col cent" align="center">2018</th>
				    </tr>
			  </thead>
			  <tbody id="table_ratio" >
			  	<!------insertion----->
			  </tbody>
    			
    		</table>
    	</div>
       	
    </div>
    <hr>

</div>
























<!--- Footer -->
<footer id="footer">
<div class="container-fluid padding">
<div class="row text-center">
	<div class="col-md-4">
		<img src="">
		<hr class="light">
		<p>556-318-233</p>
		<p>email@outlook.com</p>
		<p>Algiers, Algeria, 16000</p>
	</div>
	
	<div class="col-md-4">
		<img src="">
		<hr class="light">
		<h5>Our hours</h5>
		<hr class="light">
		<p>Monday: 9am - 5pm</p>
		<p>Saturday: 10am - 6pm</p>
		<p>Sunday: closed</p>
	</div>

	<div class="col-md-4">
		<img src="">
		<hr class="light">
		<h5>Service Area</h5>
		<hr class="light">
		<p>We work only online currently </p>
	</div>
	<div class="col-12">
		<hr class="light-100">
		<h6>&copy: telecomBenchmarking.com</h6>
	</div>
	
</div>		
</div>	
</footer>

<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>		