<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BoostTelecom</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/ui-lightness/jquery-ui.css"/> 


	<link href="css/style.css" rel="stylesheet">
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

	<script src="http://d3js.org/d3.v3.min.js"></script>
	<link rel="stylesheet"  href="css/app.css">
	<script type="text/javascript" src="js/map.js"></script>
	
</head>

<body>


<!-----------model logout---------->
<div class="modal fade" id="LogOutModal">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Log out</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to log out?
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="btn_logout" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>



<script type="text/javascript">
	

$('#btn_logout').click(function(){
$.get("/logout",function(data){
  if(!data){
        console.log("No dataaaaaa");
      }
  else{  
       //window.open('index.html', '_self')
        document.open();
        document.write(data);
        document.close(); 
    }
    
    });
  });
	$.get("/ckeck_log",function(data){
	if(!data){
				console.log("No dataaaaaa");
				}
	else{
			if(data.user){ Display_Nav_Loggin(data.user); 
						  } 
				

		}
	})

	function Display_Nav_Loggin(user){
 $('nav').replaceWith(
 	`
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"><img src="image/logoo.png">
		</a>
		<button class="navbar-toggler" type="button" data_toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="http://127.0.0.1:3000/">Home</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="http://127.0.0.1:3000/">Map</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="http://127.0.0.1:3000/">News</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="http://127.0.0.1:3000/register">Register</a>
				</li>			
				<li class="nav-item ">
					<a class="nav-link" href="#footer">Contact</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="http://127.0.0.1:3000/help">Help</a>
				</li>	
				<li class="nav-item ">`+
				user.name+`<br>`+
					user.lastname+ 
				`</li>					
				<li class="nav-item">
					<i class="fas fa-circle" style="color: #3bc63b"></i><br>
					<div class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"> </a>
						<div class="dropdown-menu  dropdown-menu-right " style="min-width:7rem; text-align: left;padding-left: 3px;">
							<a   href="http://127.0.0.1:3000/account"> My account</a>
							<hr style="margin-bottom: 5px;padding-top: 0px;margin-top: 5px;">
				            <a  id="logout" data-toggle="modal" data-target="#LogOutModal" href="#"> Log Out</a>
				        <div>
			        </div>
				</li>				

			</ul>

		</div>
	</div>
		
</nav>`)

}

</script>

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
<div class="container-fluid">
	<a class="navbar-brand" href="#"><img src="image/logoo.png">
	</a>
	<button class="navbar-toggler" type="button" data_toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="http://127.0.0.1:3000/">Home</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="http://127.0.0.1:3000/register">Register</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="http://127.0.0.1:3000/login">Log In</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="#">Services</a>
			</li>	
			<li class="nav-item ">
				<a class="nav-link" href="#footer">Contact</a>
			</li>					

		</ul>

	</div>
</div>	
</nav>	

<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">Welcome to the help session.</h1>
			<hr>
		</div>
	</div>

	<div class="row welcome">
		<div class="col-8 text-justify" style="padding-left: 28px;">
			<h3 >What is BoostTelecom.</h3>
			<hr>
			<p>BoostTelecom is an online platforme dedicated to help your mobile telecommunication company to improve its performance using a new marketing methode called Bnechmarking and other technologies to provide more accurate results.				
			</p>
			<h3>What is Benchmarking ?</h3>
			<hr>
			<p>Derived from the word "benchmark" which means reference or benchmark, benchmarking is the comparison of performance or processes with other entities, including competitors that represent competitive companies in the same domain.
			</p>
			<p>
			 Benchmarking has been a popular practice in the business world since the 1990s. This comparative analysis aims to "copy" or imitate the techniques (services or products) of competitors, but not just any competitors. is about finding what we can describe as "good competitor", and this among a very large number of references. A good competitor is a company with characteristics, also called KPIs, close to our company but which is more efficient. To find this good competing experts manually analyze a huge volume of business data.		
			</p>
			<h3>Our services</h3>
			<hr>
			<p>To improve your company performance, you can <a href="#footer">contact us</a>, we will provide you a key validation to your company. Experts can then register on our platforme and try Benchmarking, to find the best competitor according to your company caracteristics among more than 150 references. 
				
			</p>
			<p>We offer you the opportunity to check our <a href="http://127.0.0.1:3000/">map </a>to see the different regions of the world according to the world of mobile telecommunication and check for companines operating in each country</p>
			<p>You can check for online <a href="http://127.0.0.1:3000/">articles </a>about mobile telecomunication domain provided with a summary. the source of those articles is <a href="www.telecoms.com">www.telecoms.com</a>, a website dedicated to telecommunication all around the world.  
			</p>
		</div>
	</div>	

</div>




<!--- Footer -->
<footer id="footer">
<div class="container-fluid padding">
<div class="row text-center">
	<div class="col-md-4">
		<img src="">
		<hr class="light">
		<p>556-318-233</p>
		<p>email@outlook.com</p>
		<p>Algiers, Algeria, 16000</p>
	</div>
	
	<div class="col-md-4">
		<img src="">
		<hr class="light">
		<h5>Our hours</h5>
		<hr class="light">
		<p>Monday: 9am - 5pm</p>
		<p>Saturday: 10am - 6pm</p>
		<p>Sunday: closed</p>
	</div>

	<div class="col-md-4">
		<img src="">
		<hr class="light">
		<h5>Service Area</h5>
		<hr class="light">
		<p>We work only online currently </p>
	</div>
	<div class="col-12">
		<hr class="light-100">
		<h6>&copy: telecomBenchmarking.com</h6>
	</div>
	
</div>		
</div>	
</footer>



</body>
</html>		