<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TelecomBenchmark</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<link href="css/mdb.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/ui-lightness/jquery-ui.css"/> 
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script type="text/javascript" src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
	<script src="js/register.js"></script>
	
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
<div class="container-fluid">
	<a class="navbar-brand" href="#"><img src="image/logoo.png">
	</a>
	<button class="navbar-toggler" type="button" data_toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="http://127.0.0.1:3000">Home</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="http://127.0.0.1:3000">News</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="http://127.0.0.1:3000/login">Log In</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="footer">Contact</a>
			</li>					

		</ul>

	</div>
</div>	
</nav>

<!------RegisterForm----->
<br>

<div class="container-fluid padding">

	<div class="d-flex justify-content-center h-100">
		<div class="card fadeInDown " >
			<div class="card-header">
				<h3>New account</h3>
			</div>
			<div class="card-body">

				<form id="form" action="/register" method="POST" class="main-form needs-validation ">
					<div class="form-group">
						<label for="subscribers">Activation key</label>
						<input type="Password" name="key" required class="form-control" placeholder="Key provided by your company">
						<h5><font color="red" id="error_key"><%=data.error_key%></font></h5>
					</div>	
					<div class="row">
							<div class="col-6 form-group">
								<label for="subscribers">Name</label>
								<input type="text" name="name"  required class="form-control" placeholder="Enter your name">
							</div>
							<div class="col-6 form-group">
								<label for="subscribers">Lastname</label>
								<input type="text" name="lastname" required class="form-control" placeholder="Enter your lastname">
							</div>
                    </div>
					<div class="form-group">
						<label for="subscribers">Email</label>
						<input type="Email" name="email" id="email" required class="form-control" placeholder="Enter your email">
						<small><font color="red" id="error_index"><%=data.error_email%></font></small>
					</div>
					<div class="form-group">
						<label for="subscribers">Password</label>
						<input type="Password" name="password" id="password" required class="form-control" placeholder="Enter a password">
					</div>
					<div class="form-group">
						<label for="subscribers">Confirm your password</label>
						<input type="Password" name="confirm_password" id="confirm_password" required class="form-control" placeholder="Confirm your password">
						<small id="error_password"></small>
					</div>							
					<div class="form-group">
						<button type="submit"  value="Submit" style="background-color: #3f3f3f;" class="btn btn-outline-light btn-lg float-right" id="btnRegister">Register!</button>
					</div>
				</form>
			</div>	
			
		</div>	
	</div>				
</div>


<!--- Footer -->
<footer id= "footer">
<div class="container-fluid padding">
<div class="row text-center">
	<div class="col-md-4">
		<img src="">
		<hr class="light">
		<p>556-318-233</p>
		<p>email@outlook.com</p>
		<p>Algiers, Algeria, 16000</p>
	</div>
	
	<div class="col-md-4">
		<img src="">
		<hr class="light">
		<h5>Our hours</h5>
		<hr class="light">
		<p>Monday: 9am - 5pm</p>
		<p>Saturday: 10am - 6pm</p>
		<p>Sunday: closed</p>
	</div>

	<div class="col-md-4">
		<img src="">
		<hr class="light">
		<h5>Service Area</h5>
		<hr class="light">
		<p>We work only online currently </p>
	</div>
	<div class="col-12">
		<hr class="light-100">
		<h6>&copy: telecomBenchmarking.com</h6>
	</div>
	
</div>		
</div>	
</footer>


<!-----------model logout---------->
<div class="modal fade" id="LogOutModal">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Log out</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to log out?
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="btn_logout" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>





</body>
</html>