<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TelecomBenchmark</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="css/mdb.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/ui-lightness/jquery-ui.css"/> 
	
	<script src="js/awesomplete.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script type="text/javascript" src="js/d3.layout.cloud.js"></script>
	<script src="js/visualization.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
	<link href="css/awesomplete.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<script src="https://cdn.zingchart.com/zingchart.min.js"></script>

</head>	
<body>
<!-----------get data kmean---->
<!-------------------NOUBLIE PAS D AVJOUTER DATAAAA-------------->
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"><img src="image/logoo.png">
		</a>
		<button class="navbar-toggler" type="button" data_toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="http://127.0.0.1:3000">Home</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="http://127.0.0.1:3000/register">Register</a>
				</li>		
				<li class="nav-item ">
					<a class="nav-link" href="#">About</a>
				</li>
				<li>
					<a class="nav-link" href="#">Contact</a>
				</li>	
				<li class="nav-item "><%=name%><br><%=lastname%></li>					
				<li class="nav-item">
					<i class="fas fa-circle" style="color: #3bc63b"></i><br>
					<div class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"> </a>
						<div class="dropdown-menu  dropdown-menu-right " style="min-width:8rem; text-align: left;padding-left: 3px;">
							<a   href="http://127.0.0.1:3000/account"> My account</a>
							<hr style="margin-bottom: 5px;padding-top: 0px;margin-top: 5px;">
				            <a  id="logout" data-toggle="modal" data-target="#LogOutModal" href="#"> Log Out</a>
				        <div>
			        </div>
				</li>				

			</ul>

		</div>
	</div>
		
</nav>

<!-------------secret data--------------->
<script>
	var id_user= '<%= id_user%>';
	var info='<%= data%>';
	var info2=info.replace(/&#39;/g,'"')
	var datafinal = JSON.parse(info2)
	console.log(datafinal)
	
</script>

<!-----------model logout---------->
<div class="modal fade" id="LogOutModal">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Log out</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to log out?
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="btn_logout" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>




<!-------------------cloud------------->
<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<h3 class="display-4"><font color="blue">10 best commpanies compared to yours</font></h3>
		<hr>
		<div class="col-12">
			<p>Click on a company to show more details</p>
	    </div>
		<div class="row">
			<div style="text-align:center; height: 500px;background-image: url('image/grey4.jpg');" class="col-12 animated fadeInUp" id="wordCloud">
					<div class="form-check-inline">
					  <label class="form-check-label">
					    <input type="radio" class="form-check-input" id="radio_eco" checked name="optradio">Max Economic
					</div>
					<div class="form-check-inline ">
					  <label class="form-check-label">
					    <input type="radio" class="form-check-input" id="radio_fi" name="optradio">Max Financial
					  </label>
					</div> 
					<div class="form-check-inline ">
					  <label class="form-check-label">
					    <input type="radio" class="form-check-input" id="radio_med" name="optradio">Max Media
					  </label>
					</div> 				
			</div>
		</div>
	</div>
</div>
<!---------------------GRAPHE ET IFO---->
<div id="charts" class="collapse">
<div  id='aa' class="container-fluid">
    <div class="row welcome text-center">
		<div class="col-12">
			<h3 class="display-4">Details & statistics</h3>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<table class="table table-sm" id="info">
				<tr><td style="width:30px;"><i class="fas fa-id-card"></i></td><td id="name" style="text-align: left;"></td></tr>
				<tr><td style="width:20px;"><i class="fas fa-info"></i></i></td><td id="website" style="text-align: left;"><a href="#" style="color:blue;text-decoration: underline; "></a></td></tr>
				<tr><td style="width:20px;"><i class="fas fa-info"></i></td><td id="yh__index" style="text-align: left;"> Yahoo finance index : </td></tr>
				<tr><td style="width:20px;"><i class="fas fa-users"></i></td><td id="nb_employee" style="text-align: left;">Number of employee : </strong></td></tr>
				<tr><td style="width:20px;"><i class="fas fa-phone-square"></i></td><td id="phone" style="text-align: left;"></td></tr>
				<tr><td style="width:20px;"><i class="fas fa-fax"></i></td><td id="fax" style="text-align: left;"></td></tr>
				<tr><td ><i class="fas fa-map-marker-alt"></i></td><td id="address" style="text-align: left;"></td></tr>
		    </table>
		    <hr>
	    </div>	

		<div class="col-md-8">
			
			<div class="row justify-content-md-center " >
			    <div class="col-md-3 stretch-card grid-margin">
			    	<div class="card text-white" style="background-color: #26b99a; height:115px">
			    		<div class="card-body">
			    			<h6>Annual Revenue</h6>			    			
			    			<h5 id="revenue">$ 15,00000</h5>
			    			<p class="card-text decinc" data-toggle="tooltip" data-placement="bottom" id="incresed_rev">Incresed by 60%</p>
			    		</div>	    		
			    	</div>      
			    </div>
	
			    <div class="col-md-3 stretch-card grid-margin ">
			    	<div class="card text-white" style="background-color: #f78749; height:115px">
			    		<div class="card-body">
			    			<h6>GDP</h6>
			    			<h5 id="GDP">$ 15,00000.00</h5>
			    			<p class="card-text decinc" data-toggle="tooltip" data-placement="bottom" id="incresed_gdp">Incresed by 60%</p>
			    		</div>	    		
			    	</div>      
			    </div>
			
			    <div class="col-md-3 stretch-card grid-margin">
			    	<div class="card text-white" style="background-color: #b47fc9; height:115px">
			    		<div class="card-body">
			    			<i class="fas fa-phone float-right text-white" style="font-size:30px"></i>
			    			<h6 id="qos-title" >QOS</h6>
			    			<h5 id="QOS">$ 15,00000.00</h5>
			    			<p class="card-text decinc" data-toggle="tooltip" data-placement="bottom" id="incresed_qos">Incresed by 60%</p>
			    		</div>	    		
			    	</div>      
			    </div>

			    <div class="col-md-3 stretch-card grid-margin">
			    	<div class="card text-white" style="background-color: #778ed1; height:115px">

			    		<div class="card-body">
			    			<i class="fas fa-wifi float-right text-white" style="font-size:30px"></i>
			    			<h6 id="qon-title">QON</h6>
			    			<h5 id="QON">$ 15,00000.00</h5>
			    			<p class="card-text decinc" data-toggle="tooltip" data-placement="bottom" id="incresed_qon">Incresed by 60%</p>
			    		</div>	    		
			    	</div>      
			    </div>
	
			</div>
			<div class="col-12 ">
	            <div class="card">
	                <div class="card-body">
	                	<h5 class="card-title" ><font color="#482ece" bold> Overall growth (2018)</font></h5>
	                	<hr>
	                	<p class="text-muted" style="margin-bottom: 0px;">Growth information for both company in 2018 compared to last year.</p>
	                	<div class="row ">
		                	<div class="col-6" style="padding-top: 0px;padding-bottom: 0px;">
		                		<div class="row">
			                		<div class="col-2"></div>	
			                		<div class="col-10">	
				                		<div class="row"><h4 id="name_user" style="font-weight: bold;"></h4></div>
				                		<div class="row"> 	
				                			<div class=" mr-4" id="rev_user"><h5></h5>Revenue</div>
				                			<div class="mr-4"  id="capex_user"><h5></h5>CAPEX</div>
				                			<div class=" mr-4" id="subs_user"><h5></h5>Subscribers</div>
				                		</div>
				                	</div>
			                	</div>	
		                	</div>
		                	<div class="col-6" style="padding-top: 0px;padding-bottom: 0px;">
		                		<div class="row">
			                		<div class="col-2"></div>	
			                		<div class="col-10">	
				                		<div class="row"><h4 id="name_comp" style="font-weight: bold;"></h4></div>
				                		<div class="row "> 
				                			<div class="mr-4" id="rev_comp"><h5></h5>Revenue</div>
				                			<div class="mr-4" id="capex_comp"><h5></h5>CAPEX</div>
				                			<div class="mr-4" id="subs_comp"><h5></h5>Subscribers</div>
				                		</div>
				                	</div>				                		
		                		</div>
		                	</div>	
	                	</div>
	           		 </div>
       			</div>	

			</div>
		</div>
</div>	 




	<div class="row">
		<div class="col-2" style="height: 100%;">
			<div class="row">
				<div class="col-12">
					<div class="card">
		                <div class="card-body">
		                	<h5 class="card-title"> <font color="#482ece" bold>About</font></h5>
		                	<hr>  
		                	<br>
		                	<p class="text-muted" style="font-size: 15px;">Quality of Service (QOS) is satisfaction rate of subscribers mesured from the processing of a large amount of comments left on different platform (social networks, website).</p> 
		                	<br>
		                	<p class="text-muted" style="font-size: 15px;">Quality of Network (QON) is measured from online newspaper article processing specilized in mobile communication.</p> 
		                	<br>         		                			                	    
		                </div>
		                <canvas style="height: 200px; width: relative; background-image: url('image/wave3.png')" ></canvas>

				    </div>
			    </div>
			</div>
		</div>
				
		<div class="col-10">
			<div class="row" >
				<div class="col-8">
		            <div class="card"  >
		                <div class="card-body" id="contain_revenue">
		                	<h6 class="card-title" style="font-weight: bold">Revenue per year for both companies ($/year)</h6>
		                	<hr>
		                    <canvas id="chBarRevenue"></canvas>
		                </div>
		            </div>
	            </div>
	            <div class="col-4">
		            <div class="card"  >
		                <div class="card-body">
		                	<p class="card-title">Average GDP for the 4 past years</p>
		                	<hr>
		                    <h4 class="text-center" style="color:#26B99A;" id="name_user_gdp" style="font-weight: bold;"></h4>
		                    
		                    <h4 class="text-center" style="color:#26B99A;" id="name_user_gdp_val" style="font-weight: bold;"></h4>
		                    
		                    <br>
							<h4 class="text-center" style="color:#03586A;" id="name_comp_gdp" style="font-weight: bold;"></h4>
		                    <h4 class="text-center" style="color:#03586A;" id="name_comp_gdp_val" style="font-weight: bold;"></h4>
		                    
		                    <br>
		                    <p class="text-muted">the average GDP is calculated from the information collected from the IMF official website.</p>
		                    
		                </div>
		            </div>
	            </div>


		    </div>    
		    <div class="row">
		    	<div class="col-6">
		            <div class="card">
		                <div class="card-body" id="contain_qos">
		                	<h6 class="card-title" style="font-weight: bold">Quality of service (QOS) for both companies (%)</h6>
		                	<hr>
		                    <canvas id="chLineQos"></canvas>
		                </div>
		            </div>
		        </div>
		        <div class="col-6">
		            <div class="card">
		                <div class="card-body" id="contain_qon">
		                	<h6 class="card-title" style="font-weight: bold">Quality of network (QON) for both companies (%)</h6>
		                	<hr>
		                    <canvas id="chLineQon"></canvas>
		                </div>
		            </div>
		        </div>	
			</div>	
		</div>	
	</div>	


	<!------------------abonnés---------->
	
	<div class="row">
	    <div class="row" style="width: 100%">
	    	<div class="col-7" >
	    		<div class="col-12">
		            <div class="card">
		                <div class="card-body" id="contain_subs">
		                	<h6 class="card-title" style="font-weight: bold">Number of subscribers for both companies</h6>
		                	<hr>
		                    <canvas id="bar-chart-horizontal"></canvas>
		                </div>
		            </div>
	            </div>
			</div>
			<div class="col-5" style="padding-left: 0px;padding-right: 0px;">
				<div class="col-12">
		            <div class="card">
		                <div class="card-body" id="tit" style="padding-right: 0px;padding-bottom: 0px;" >
		                	<h6 class="card-title"></h6>
		                	<hr style="margin-bottom: 0px;">
		                	<div id="LDA"></div>
		                
		                	
		                </div>
		            </div>
	        	</div>
			</div>				
	    </div>
	    
	</div> 
	  	

</div>
</div>
</div>









<!--- Footer -->
<footer>
<div class="container-fluid padding">
<div class="row text-center">
	<div class="col-md-4">
		<img src="">
		<hr class="light">
		<p>556-318-233</p>
		<p>email@outlook.com</p>
		<p>Algiers, Algeria, 16000</p>
	</div>
	
	<div class="col-md-4">
		<img src="">
		<hr class="light">
		<h5>Our hours</h5>
		<hr class="light">
		<p>Monday: 9am - 5pm</p>
		<p>Saturday: 10am - 6pm</p>
		<p>Sunday: closed</p>
	</div>

	<div class="col-md-4">
		<img src="">
		<hr class="light">
		<h5>Service Area</h5>
		<hr class="light">
		<p>We work only online currently </p>
	</div>
	<div class="col-12">
		<hr class="light-100">
		<h6>&copy: telecomBenchmarking.com</h6>
	</div>
	
</div>		
</div>	
</footer>
</body>
</html>		