.map__image{
	width: 80%;
	float: left;
	position: relative;
    overflow: hidden;

}


.map__image path {
	
	stroke: #FFF;
	stroke-width: 1px;
	transition: fill 0.3s;
	transform-box: fill-box;	
    transform-origin: 50% 50%;
    
}

.hoverr{ cursor: pointer; }
.hoverr:hover { opacity: .2 !important; }

.map__image path:hover {
	
	stroke: #FFF;
	stroke-width: 1px;
	transition: fill 0.3s;	
	transform: scale(1.1,1.2);
	z-index: 1;
  	transform-origin: left;
  	fill: yellow;
}

#Middle_East_and_North_Africa path{
   fill: #74c493;

}
#West_Africa path{
   fill: #8e8c6d;

}
#Europe path{
   fill: #e2975d;

}
#South_Asia path{
   fill: #e279a3 ;

}
#Asia_Pacific path{
   fill: #c94a53;

}
#Atlantic_Ocean_Region path{
   fill: green;

}
#Indian_Ocean_Region path{
   fill: green;

}
#Pacific_Ocean_Region path{
   fill: #be5168;

}
#Latin_America path{
   fill: #9163b6;

}
#North_America path{
   fill: #e0598b;

}
#Central_America_and_the_Caribbean path{
   fill: #447c69;

}
#Sub_Saharan_Africa path{
   fill: #f19670;

}

/*
.map__image path:hover {
	fill: #3538d2;
	stroke: #FFF;
	stroke-width: 1px;
	transition: fill 0.3s;

}*/


.map__image path.hovered{
	fill: #FFF;
	stroke: #FFF;
	stroke-width: 1px;
	transition: fill 0.3s;	
	transform: scale(1.1,1.2);
	z-index: 1;
  	transform-origin: left;
}


