.map__image{
	width: 80%;
	float: left;
	position: relative;
    overflow: hidden;

}


.map__image path {
	fill: #a4ced2;
	stroke: #FFF;
	stroke-width: 1px;
	transition: fill 0.3s;
	transform-box: fill-box;	
    transform-origin: 50% 50%;
    
}

#Middle_East_and_North_Africa path{
   fill: #cfc615;

}
#West_Africa path{
   fill: #d8aee0;

}
#Europe path{
   fill: #a7bceb;

}
#South_Asia path{
   fill: #9a9145;

}
#Asia_Pacific path{
   fill: #8eb58f;

}
#Atlantic_Ocean_Region path{
   fill: green;

}
#Indian_Ocean_Region path{
   fill: green;

}
#Pacific_Ocean_Region path{
   fill: #e23047;

}
#Latin_America_and_the_Caribbean path{
   fill: #b54e4e;

}
#North_America path{
   fill: #c97b2f;

}
#Central_America_and_the_Caribbean path{
   fill: #da1ead;

}
#Sub_Saharan_Africa path{
   fill: #0ac06e;

}

/*
.map__image path:hover {
	fill: #3538d2;
	stroke: #FFF;
	stroke-width: 1px;
	transition: fill 0.3s;

}*/


.map__image path:hover {
	fill: red;
	stroke: #FFF;
	stroke-width: 1px;
	transition: fill 0.3s;	
	transform: scale(1.1,1.2);
	z-index: 1;
  	transform-origin: left;
}
